flows4.json
[{"id":"b4a58f20.46aec","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"71ac86ff.87d5e8","type":"http in","z":"b4a58f20.46aec","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":240,"y":300,"wires":[["f3f8a463.ea4a28"]]},{"id":"b5d63067.3abfc","type":"rpi-gpio in","z":"b4a58f20.46aec","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":false,"x":230,"y":360,"wires":[["a27ad352.dbdc5"]]},{"id":"a27ad352.dbdc5","type":"function","z":"b4a58f20.46aec","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":360,"wires":[["a2897f.4266568"]]},{"id":"f3f8a463.ea4a28","type":"function","z":"b4a58f20.46aec","name":"GET GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[["df7907c4.2c1a58","a2897f.4266568"]]},{"id":"df7907c4.2c1a58","type":"http response","z":"b4a58f20.46aec","name":"","statusCode":"","headers":{},"x":610,"y":300,"wires":[]},{"id":"a2897f.4266568","type":"debug","z":"b4a58f20.46aec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":360,"wires":[]}]