flows5.json
[{"id":"59131318.ba008c","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"b458171a.f2dbb8","type":"http in","z":"59131318.ba008c","name":"set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":180,"y":220,"wires":[["424b13aa.8639dc","e221f35c.435c2"]]},{"id":"424b13aa.8639dc","type":"function","z":"59131318.ba008c","name":"set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["3e368bd6.a80694"]]},{"id":"3e368bd6.a80694","type":"rpi-gpio out","z":"59131318.ba008c","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":780,"y":200,"wires":[]},{"id":"e221f35c.435c2","type":"function","z":"59131318.ba008c","name":"return status","func":"msg.payload=\"GPIO5 set to high\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["7ac13711.12a068","4d2ade84.f46e"]]},{"id":"7ac13711.12a068","type":"http response","z":"59131318.ba008c","name":"","statusCode":"","headers":{},"x":630,"y":240,"wires":[]},{"id":"4d2ade84.f46e","type":"debug","z":"59131318.ba008c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":140,"wires":[]},{"id":"5bd2c543.6ece8c","type":"http in","z":"59131318.ba008c","name":"clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":190,"y":160,"wires":[["ac3cab66.19b3b8","6b602509.69c3fc"]]},{"id":"ac3cab66.19b3b8","type":"function","z":"59131318.ba008c","name":"clear to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":160,"wires":[["3e368bd6.a80694"]]},{"id":"6b602509.69c3fc","type":"function","z":"59131318.ba008c","name":"return status","func":"msg.payload=\"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["7ac13711.12a068","4d2ade84.f46e"]]}]